*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(7,33,3,0.0),rgba(4,9,30,0.0)),url(images/mine.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 300px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    width: 0;
    content: '';
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: #ff742e;
}

.text-box p {
    margin: 10px 0 10px;
    font-size: 30px;
    color: #ff0000;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-window-close {
    display: none;
}

nav .fa-bars {
    display: none;
}

#columnas{
    column-count:4;
    column-gap:20px;
    column-rule:4px double black;
    line-style:none;

    -webkit-column-count:4;
    -webkit-column-gap:20px;
    -webkit-column-rule:4px double black;

    -moz-column-count:4;
    -moz-column-gap:20px;
    -moz-column-rule:4px double black;

    -o-column-count:4;
    -o-column-gap:20px;
    -o-column-rule:4px double black;

    -ms-column-count:4;
    -ms-column-gap:20px;
    -ms-column-rule:4px double black;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-bars{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-window-close{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 15px;

    }
}